label {
  font-size: 14px;
  color: #e1d9d1;
}

knob {
  width: 40px;
  height: 40px;
}

knob .knob-track {
  color: #ffb433;
  background-color: #363636;
}

knob .knob-head {
  display: none;
}

textbox {
  font-size: 12px;
  width: 72px;
  color: #e1d9d1;
  background-color: transparent;
  border-width: 0px;
  outline-color: none;
  child-space: 1s;
}

textbox:hover {
  background-color: transparent;
  border-width: 0px;
  outline-color: none;
}

dropdown {
  height: 32px;
}

dropdown .title {
  width: 1s;
  height: 1s;
  child-left: 8px;
  child-right: 8px;
  child-top: 1s;
  child-bottom: 1s;
  color: #363636;
}

dropdown .dropdown-item {
  child-left: 8px;
  child-right: 8px;
  color: #363636;
}
